<a href="https://colab.research.google.com/github/RodriguoGoncalves/Atenas_Airbnb/blob/main/An%C3%A1lise_Airbnb_Atenas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img alt="Colaboratory logo" width="75%" src="https://github.com/RodriguoGoncalves/Sigmoidal_data_science/blob/main/banner2.png?raw=true">

#### ***Análise Exploratória de Dados do Airbnb***
*by Rodrigo Gonçalves* ([Github](https://github.com/RodriguoGoncalves/Sigmoidal_data_science), [Linkedin](https://www.linkedin.com/in/rodrigo-gon%C3%A7alves-a22b6012a//), [Medium](https://medium.com/@rodriguogoncalves) )

---

# ***Análise dos Dados do Airbnb - Atenas, Grécia***


o  [Airbnb](https://www.airbnb.com.br/)  é considerado como sendo a **maior empresa hoteleira da atualidade** mesmo **sem possuir hotel algum!** 

Fundado a partir de um momento de dificuldade de seus fundadores-[Brian Chesky](https://github.com/RodriguoGoncalves/Atenas_Airbnb/blob/main/Brian_Chesky.jpg?raw=true) e [Joe Gebbia](https://github.com/RodriguoGoncalves/Atenas_Airbnb/blob/main/Joe_Gebbia.jpg?raw=true)-, que não tinham dinheiro para pagar o aluguel e aproveitaram um evento de designers que completou a lotação dos hotéis da cidade de São Francisco para ter a ideia de alugar *3 colchões* de ***ar***   no chão e oferecer ***café da manhã*** (***Air  = ar*** + ***Bnb "bed and breakfast" = cama e café da manhã***  )




<center><img alt="Logo_Airbnb" width="25%" src="https://www.area360.com.au/wp-content/uploads/2017/09/airbnb-logo.jpg"></center>


No momento em que se encontra esta versão-**12/2021**-, a Startup criada em 2007, conta com  **4 milhões de anfitriões**  que ja receberam mais de **1 bilhão de hóspedes** em quase todos os países do mundo.

Uma das iniciativas do Airbnb é disponibilizar dados do site, para algumas das principais cidades do mundo. Por meio do portal [Inside Airbnb](http://insideairbnb.com/get-the-data.html), é possível baixar uma grande quantidade de dados para desenvolver projetos e soluções de *Data Science*.

<center><img alt="Atenas_photo" width="35%" src="https://d2yfnz5to9nvdi.cloudfront.net/wp-content/uploads/2018/02/passagens-aereas-promocionais-executiva-swiss-air-europa-grecia-atenas-voe-simples-promocoes-sdppart.jpg"></center>

**Neste *notebook*, iremos analisar os dados referentes à cidade de Atenas, e ver quais insights podem ser extraídos a partir de dados brutos.**

## ***Obtenção dos Dados***

Todos os dados usados aqui foram obtidos a partir do site [Inside Airbnb](http://insideairbnb.com/get-the-data.html). Neste site é possível obter dados, informações, listas e arquivos que formam um conjunto de recursos conforme consta na [imagem](https://github.com/RodriguoGoncalves/Atenas_Airbnb/blob/main/Grecia_Inside.PNG?raw=true).

Para esta análise exploratória inicial, será baixado apenas o seguinte arquivo:

* `listings.csv` - *Summary information and metrics for listings in Athens (good for visualisations).*

Importante: O portal está em constante evolução e, em determinado momento, pode ser que o [conjunto de dados](http://data.insideairbnb.com/greece/attica/athens/2021-10-25/visualisations/listings.csv) exato utilizado nesse notebook não esteja mais disponível, o que quebraria nosso código.

Pensando nisso, disponibilizamos [aqui](https://drive.google.com/file/d/1FpAlfnlxpm1rhGrY3wD6kuN5Nm0yVj_y/view?usp=sharing) o conjunto que utilizamos, para que você sempre consiga utilizar esse material.

Com isso em mente, vamos ao projeto.
<center><img alt="Logo_Airbnb" width="35%" src="https://exame.com/wp-content/uploads/2016/09/size_960_16_9_cavaleiros-do-zodiaco1.jpg"></center>

###***Instalações de Pacotes (Explicação)***

* ***!pip install plotly==5.5.0*** >>  é uma biblioteca de plotagem interativa de código aberto que oferece suporte a mais de 40 tipos de gráficos exclusivos, cobrindo uma ampla variedade de casos de uso estatísticos, financeiros, geográficos, científicos e tridimensionais.

In [ ]:
                    #Instalações de Pacotes (Execução)

#!pip install plotly==5.5.0
#!pip install forex-python

###***Importações (Explicação)***

* ***import pandas as pd*** >> é uma biblioteca de software criada para a linguagem Python para manipulação e análise de dados. Em particular, oferece estruturas e operações para manipular tabelas numéricas e séries temporais. Para aprofundamento, [clique aqui](https://medium.com/tech-grupozap/introdu%C3%A7%C3%A3o-a-biblioteca-pandas-89fa8ed4fa38).

* ***import matplotlib.pyplot as plt*** >> O **Matplotlib** é uma biblioteca para a visualização de dados em Python. Ele apresenta uma API orientada a objetos que permite a criação de gráficos em 2D de uma forma simples e com poucos comandos. A ferramenta disponibiliza diversos tipos de gráficos, como em barra, em linha, em pizza, histogramas entre outras opções. O **PyPlot** é um módulo do matplotlib para criação de gráfico. Para aprofundamento, [clique aqui](https://king.host/blog/2018/03/visualizacao-de-dados-matplotlib/).


* ***import seaborn as sns*** >> simplifica e abstrai algumas configurações de temas que seriam mais complexas do matplotlib, gerando gráficos mais atrativos com códigos mais limpos e mais simples. Para aprofundamento, [clique aqui](https://cienciadedadosuff.github.io/cursos/notebooks/caderno-3.html).

* ***from plotly import graph_objects as go*** >> Os objetos plotly graph são uma interface de alto nível para plotly, que são fáceis de usar. Ele pode traçar vários tipos de gráficos e diagramas, como gráficos de dispersão, gráficos de linha, gráficos de barras, gráficos de caixa, histogramas, gráficos de pizza, etc.  Para aprofundamento, [clique aqui](https://acervolima.com/introducao-ao-plotly-python/).

* ***import plotly.express as px*** >> é uma abstração de alto nível para Plotly API otimizada para funcionar perfeitamente com frames de dados. Para aprofundamento, [clique aqui](https://ichi.pro/pt/visualizacao-com-plotly-express-guia-completo-258792796523351) ou [neste link](https://plotly.com/python/plotly-express/) para acessar a biblioteca.

* ***import json*** >>  é o formato mais usado para integração entre sistemas. Toda a linguagem de programação tem sua maneira de manipulá-lo. O Python tem uma biblioteca, chamada json. Para aprofundamento, [clique aqui](https://medium.com/@renatojlelis/trabalhando-com-json-no-python-1eb0f97c0c50).

* ***from urllib.request import urlopen*** >> Há diversos módulos para acesso e processamento de protocolos da internet. Dois dos mais simples são *urllib.request* para efetuar download de dados a partir de URLs e *smtplib* para enviar mensagens de correio eletrônico. Para aprofundamento, [clique aqui](https://docs.python.org/pt-br/3/tutorial/stdlib.html).

* ***%matplotlib inline*** >> Com esse back-end, a saída dos comandos de plotagem é exibida embutida nos front-ends, como o bloco de notas Jupyter, diretamente abaixo da célula de código que a produziu. Os gráficos resultantes também serão armazenados no documento de caderno. Para aprofundamento, [clique aqui](https://ipython.readthedocs.io/en/stable/interactive/plotting.html).

In [ ]:
                    #Importações (Execução)
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from plotly import graph_objects as go
import plotly.express as px
import forex_python
import json
from urllib.request import urlopen

%matplotlib inline

In [ ]:
# importar o arquivo listings.csv para um DataFrame
df = pd.read_csv("http://data.insideairbnb.com/greece/attica/athens/2021-10-25/visualisations/listings.csv")

# importar arquivo com geolocalização http://data.insideairbnb.com/greece/attica/athens/2021-10-25/visualisations/neighbourhoods.geojson
with urlopen('http://data.insideairbnb.com/greece/attica/athens/2021-10-25/visualisations/neighbourhoods.geojson') as response:
  geo = json.load(response)

## ***Análise dos Dados***


A finalidade desta etapa é mostrar a estrutura dos dados e dar uma visão geral das variáveis que iremos trabalhar.

**Dicionário das variáveis**

* `id` - número de id gerado para identificar o imóvel
* `name` - nome da propriedade anunciada
* `host_id` - número de id do proprietário (anfitrião) da propriedade
* `host_name` - Nome do anfitrião
* `neighbourhood_group` - esta coluna não contém nenhum valor válido
* `neighbourhood` - nome do bairro
* `latitude` - coordenada da latitude da propriedade
* `longitude` - coordenada da longitude da propriedade
* `room_type` - informa o tipo de quarto que é oferecido
* `price` - preço para alugar o imóvel
* `minimum_nights` - quantidade mínima de noites para reservar
* `number_of_reviews` - número de reviews que a propriedade possui
* `last_review` - data do último review
* `reviews_per_month` - quantidade de reviews por mês
* `calculated_host_listings_count` - quantidade de imóveis do mesmo anfitrião
* `availability_365` - número de dias de disponibilidade dentro de 365 dias

Vamos verificar os traços do nosso *dataset (conjunto de dados)*, analisando as 7 primeiras entradas, de maneira prévia aos questionamentos que começaremos a fazer.

In [ ]:
# mostrar as 7 primeiras entradas

df.head(7)

      id  ...      license
0  10595  ...  00000957568
1  10990  ...  00001070920
2  10993  ...  00000957080
3  10995  ...  00000957422
4  27262  ...  00000957579
5  28186  ...  00000264915
6  31155  ...          NaN

[7 rows x 18 columns]

Explicação  do Dataset:

* `linha` - Cada linha  se refere às especificações de um registro de imóvel.
* `coluna` - é uma informação que define o imóvel.

A célula acima nos permite ver as 7 primeiras linhas do dataframe. Logo na primeira linha, perceba que a Emmanouil (`host_name`)  tem um imóvel registrado no bairro (`neighbourhood`) ΑΜΠΕΛΟΚΗΠΟΙ *(Ampelokipi ou Ampelokipoi)*.

Ainda observando o imóvel de Emmanouil, o custo para passar a noite (`price`) é de €79 (R$ 498,50). **Será que, para  Atenas, isso é caro ou barato?**

Vamos buscar as respostas nos próprios dados!

In [ ]:
from forex_python.converter import CurrencyRates
c = CurrencyRates()

def titulo(txt):
    print('-'*len(txt))
    print('\033[34m'+txt+'\033[0;0m')
    print('-'*len(txt))
    
amount = int(input("Insira o valor: "))
from_currency = input("Da moeda: ").upper()
to_currency = input("Para a moeda: ").upper()
print(from_currency, " Para ", to_currency, amount)
result = c.convert(from_currency, to_currency, amount)
print(result)
quantidade_dia = int(input("Quantos dias você pretende ficar?"))
print(result*quantidade_dia)

Insira o valor: 100
Da moeda: USD
Para a moeda: BRL
USD  Para  BRL 100
565.1970312776109
Quantos dias você pretende ficar?10
5651.9703127761095

### ***Quantos atributos (variáveis) e quantas entradas o conjunto de dados possui? Quais os tipos das variáveis?***

In [ ]:
# identificar a dimensão do dataset
print("Entradas:\t {}".format(df.shape[0]))
print("Variáveis:\t {}\n".format(df.shape[1]))

# identificar tipo das variáveis
df.dtypes

Entradas:	 9582
Variáveis:	 18

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object